.question-div {
    width: 95%;
    border: 1px solid #D9D9D9;
    margin: 2.5rem auto auto auto;
    border-radius: 5px;
}

.q-top {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.q-no {
    display: flex;
    background-color: #131423;
    color:  white;
    padding: 8px 30px;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px;
    line-height: 2;
}

.que-icon {
    margin-right: 8px;
    margin-top: 3px;
}

.q-time {
    padding: 10px;
    margin: 20px;
    font-weight: 600;
}

.qbody {
    padding: 10px 30px;
}

.q-text {
    margin: 30px auto 20px auto;
}

.qnote {
    color: rgba(0, 0, 0, 0.51);
    font-size: 14px;
    margin-bottom: 10px;
}

.option {
    display: flex;
    padding: 10px 15px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background-color: #D9D9D9;
}

.option-no {
    font-weight: 500;
    margin-right: 5px;
}

.qfooter {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nextbtn  {
    display: flex;
    background-color: #131423;
    color: white;
    padding: 8px 30px;
    border-radius: 5px;
    line-height: 2;
}

/* .arrow-icon {

} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .question-div {
        margin-top: 1rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*  */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*  */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*  */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .question-div {
        width: 70%;
    }
}