.dashboard-content {
    width: 70vw;
    margin: auto auto;
    margin-top: 5vh;
}

.dashboar-controls {
    display: grid;
    place-content: start;
}

.create-new {
    border: solid 1px #D9D9D9;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.create-new:hover {
    background-color: #F2F2F2;
    transition: background-color .2s ease-in-out;
}

.add-icon {
    width: 50px;
    height: 50px;
}