.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 3rem 1rem 3rem;
}

.logo-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #8E58E7;
    font-size: 20px;
}

.btn-login {
    background-color: #131423;
    color: white;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 14px;
    border: none;
}

.avatar-div {
    height: 40.8px;
    width: 40.8px;
}

.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.avatar:hover {
    /* -webkit-filter: brightness(70%); */
    filter: brightness(80%);
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;
}