.CreateQuiz {
    background-color: #f2f2f2;
    min-height: 100vh;
}

.CreateQuestion {
    background-color: #FFFFFF;
    /* border: solid 1px #D9D9D9; */
    padding: 10px 30px;
    border-radius: 5px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.quiz-header {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 95vw;
    border-radius: 5px;
    /* padding: 0 1rem; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.quiz-title {
    text-align: center;
    margin-top: 2rem;
    color: #5e548e;
    margin: 15px;
}

.quiz-backbtn {
    width: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.quiz-sharebtn {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.create_question_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-que-div {
    width: 95vw;
}

.que-number {
    width: fit-content;
    background-color: #131423;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.que-number img {
    margin-right: 5px;
}

.input-group {
    display: flex;
}

div.input-group > * {
    max-width: 48%;
}

.question-input {
    display: block;
    padding: 10px 15px;
    margin: 2px auto;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out;
    outline: none;
    min-width: 100%;
}

.question-input:focus {
    border-color: #8E58E7;
    outline: none;
}

.create-select {
    display: block;
    padding: 12px 15px;
    margin: 2px auto;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out;
    outline: none;
    min-width: 100%;
}

.create-select:focus {
    border-color: #8E58E7;
}

.option_group_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.option-group {
    width: 48%;
}

.create-option {
    display: block;
    padding: 10px 15px;
    margin: 2px auto;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out;
    outline: none;
    min-width: 100%;
}

.create-option:focus {
    border-color: #8E58E7;
    outline: none;
}

.question-save {
    display: block;
    width: 100%;
    background-color: #131423;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 11px 30px;
    line-height: 1.5;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    border: solid 1px #131423;
}

.question-save:disabled {
    /* filter: blur(1px); */
    /* -webkit-filter: blur(1px); */
    opacity: 0.8;
    cursor: not-allowed;
}

.input-mes-success {
    color: #009900;
    font-size: 12px;
}

.input-mes-error {
    color: #ff3333;
    font-size: 12px;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.loader {
  /* margin: 10px auto; */
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .35em solid rgba(255, 255, 255, 0.2);
  border-right: .35em solid rgba(255, 255, 255, 0.2);
  border-bottom: .35em solid rgba(255, 255, 255, 0.2);
  border-left: .35em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .7s infinite linear;
  animation: load8 .7s infinite linear;
  backface-visibility: hidden;
}


/* Quiz */

.quiz-footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-question {
    background-color: #131423;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    line-height: 1.5;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.add-question img {
    margin-right: 5px;
}

/* Quiz Details */
.quiz-details-form {
    max-width: 40vw;
    margin: auto auto;
    margin-top: 5vh;
}

.input-group-quiz {
    margin-bottom: 15px;
}

label  {
    font-size: 13px;
}

.input-quizdetails {
    display: block;
    margin: 2px auto 20px auto;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color .15s ease-in-out;
    outline: none;
    min-width: 100%;
}

.input-quizdetails:focus {
    border-color: #8E58E7;
    outline: none;
}

.btn-group-quiz {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 2rem;
}

.quiz-save {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131423;
    color: white;
    cursor: pointer;
    padding: 14px 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    line-height: 1.5;
}

.quiz-save:disabled {
    color: gray;
    cursor: not-allowed;
}

.quiz-save-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #131423;
    border-radius: 5px;
    cursor: pointer;
    padding: 14px 15px;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
}

.quiz-save-next:disabled {
    color: gray;
    cursor: not-allowed;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .quiz-details, .create-que-div {
        margin-top: 1rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /*  */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .quiz-details, .create-que-div {
        width: 80vw;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /*  */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .quiz-details, .create-que-div {
        width: 50vw;
    }
}