.Login {
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 480px;
  border-radius: 30px;
  z-index: 5;
}

.login-box {
  padding: 2rem 3rem;
}

.close-icon {
  position: absolute;
  cursor: pointer;
}

.login-text {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.top {
  margin-bottom: 10px;
}

.login-body {
  padding-top: 5px;
}

.input-group {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.login-inp-group {
  min-width: 100%;
}

.input-box {
  display: block;
  width: 100%;
  min-width: 100%;
  margin: 2px auto 10px auto;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.5;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out;
}

.input-box:focus {
  border-color: #8e58e7;
  outline: none;
}

.btn-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.loader {
  /* margin: 10px auto; */
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .35em solid rgba(255, 255, 255, 0.2);
  border-right: .35em solid rgba(255, 255, 255, 0.2);
  border-bottom: .35em solid rgba(255, 255, 255, 0.2);
  border-left: .35em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 .7s infinite linear;
  animation: load8 .7s infinite linear;
  backface-visibility: hidden;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}     

.btn-login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131423;
  color: white;
  cursor: pointer;
  padding: 14px 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.btn-login-form:disabled {
  color: gray;
  cursor: not-allowed;
}

.btn-login-with {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #131423;
  border-radius: 5px;
  cursor: pointer;
  padding: 14px 15px;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
}

.btn-login-with:disabled {
  color: gray;
  cursor: not-allowed;
}

.google-logo {
  margin-left: 5px;
  width: 18px;
}

.login-footer .signup-link {
  cursor: pointer;
  text-align: end;
  font-size: 14px;
  color: #131423;
}

.login-footer .signup-link span {
  font-weight: 600;
  border-bottom: 1px solid #131423;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Login {
    width: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*  */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*  */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*  */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*  */
}
